{{>layouts/header}}

<h1>게시판 글쓰기</h1>
<form action="/articles/create" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목입력">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea name="contents" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="submit" value="확인"><input type="reset" value="취소">
</form>

{{>layouts/footer}}