{{>layouts/header}}

<div class="container mt-5">
    <h1>상세글 보기</h1>

    {{#showEntity}}
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input readonly value="{{title}}" type="text" class="form-control" id="title">
        </div>

        <div class="mb-3">
            <label for="contents" class="form-label">내용</label>
            <textarea readonly class="form-control" id="contents" rows="3">{{contents}}</textarea>
        </div>

        <div class="mt-4">
            <a href="/articles/{{id}}/edit" >수정</a>

            <span> / </span>

            <a href="/articles/{{id}}/delete" >삭제</a>

            <span> / </span>

            <a href="/articles" >목록</a>
        </div>
    {{/showEntity}}
</div>

{{>layouts/footer}}