<div class="mb-5 container-fluid" >
    개인정보처리방침
    개인정보공시
    영상정보처리기기 운영관리방침
    e메일무단수집거부
    예결산공고
    등록금심의위원회
    대학평의원회
    자체평가
    대학정보공시
    청탁금지법
    원격
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>