<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
{{>header}}

<h1>회원가입</h1>
<form action="/joinProc" method="post">
    <div>
        <label>아이디: </label>
        <input type="text" name="loginId" placeholder="User ID" required />
    </div>
    <div>
        <label>비밀번호: </label>
        <input type="password" name="password" placeholder="Password" required />
    </div>
    <div>
        <label>닉네임: </label>
        <input type="text" name="nickname" placeholder="Nickname" required />
    </div>
    <div>
        <label>권한 선택: </label>
        <input type="radio" name="role" value="USER" checked> 일반 유저
        <input type="radio" name="role" value="ADMIN"> 관리자
    </div>
    <br/>
    <button type="submit">가입하기</button>
</form>
<a href="/login">로그인 하러가기</a>
</body>
</html>