<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
{{>header}}

<h1>로그인 페이지</h1>
<form action="/loginProc" method="post">
    <input type="text" name="loginId" placeholder="아이디 입력" required /> <br/>
    <input type="password" name="password" placeholder="비밀번호 입력" required /> <br/>
    <button type="submit">로그인</button>
</form>
<a href="/join">회원가입 하러가기</a>


</body>
</html>