{{>layouts/header}}

<div class="p-10">
    <h1> {{ranQuote}} </h1>
    <form action="/quote" method="get">
    <button type="submit" class="btn btn-primary">다른명언</button>
    </form>
</div>

{{>layouts/footer}}